* {
  font-family: Verdana;
}

body {
  margin: 0px;
}

.nav {
  color: white;
  list-style-type: none;
  margin: 0px !important;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.form-group {
  margin: 5px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #666;
}


/* gallery*/
img{
	cursor:zoom-in;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* Fade in tooltip */
  opacity: 1;
  transition: opacity 1s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: grey;
  color: #fff;
  height: 15px;
  width: 300px;
  border-radius: 5px;
  padding: 2.5px;
  
  z-index: 3;
  
  margin-left: 10px;
  overflow: hidden;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .90;
}

